.btnWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.imageWrapper {
  margin-bottom: 10px;
}

.image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}